.wrappermoviezone
  .moviezoneupper
    .moviezone__categoryname
      カテゴリー
    .moviezoneupper__paginate
      = paginate(@movies)
  .moviezonebottom
    - @movies.each do |movie|
      .moviezonebottomcontents
        .moviezonebottomcontents__movie
          = movie.move
        .moviezonebootmcontents__title
          = movie.title
          = link_to '削除', "/movies/#{movie.id}", method: :delete
          = link_to '編集', "/movies/#{movie.id}/edit", method: :get
          = link_to '詳細', "/movies/#{movie.id}", method: :get