.wrappermoviezone
  .moviezoneupper
    .moviezone__categoryname
      カテゴリー
    .moviezoneupper__paginate
      = paginate(@movies)
  .moviezonebottom
    - @movies.each do |movie|
      .moviezonebottomcontents
        .moviezonebottomcontents__movie
          %iframe{allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "200", src: "https://www.youtube.com/embed/#{movie.youtube_url}", width: "400"}
        .moviezonebootmcontents__title
          = movie.title
          = link_to '削除', "/movies/#{movie.id}", method: :delete
          = link_to '編集', "/movies/#{movie.id}/edit", method: :get
          = link_to '詳細', "/movies/#{movie.id}", method: :get