= render './share/header'
= render './share/search'
.wrappermoviezone
  .moviezoneupper__paginate
    = paginate(@movies)
  .moviezonebottom
    - @movies.each do |movie|
      .moviezonebottomcontents
        .moviezonebottomcontents__movie
          %iframe{allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "200", src: "https://www.youtube.com/embed/#{movie.youtube_url}", width: "400"}
        .moviezonebootmcontents__date
          = movie.created_at.strftime("%Y-%m-%d")
        .moviezonebootmcontents__title
          = movie.title
        %div{:style => "display: inline; float: right;"}
          = link_to icon('fas', 'pen'), edit_movie_path(movie), id: :"button-edit-#{movie.id}"
          = link_to icon('fas', 'trash-alt'), movie_path(movie), id: :"button-delete-#{movie.id}",method: :delete, data: { confirm: '削除してよろしいですか？' }
          = link_to icon('fas', 'video'), "/movies/#{movie.id}", method: :get
          -# = link_to icon('fas', 'star'), movie_bookmarks_path(movie.id), method: :delete, id: :"js-bookmark-button-for-board-#{movie.id}"
.formfooter
  .wrapperfooter
    .footercontents
      .footercontents__home
        %i.fa.fa-home 
        = link_to "ホーム", root_path
      .footercontents__post
        %i.fa.fa-video
        = link_to "動画を追加", new_movie_path
      .footercontents__mypage
        %i.fa.fa-user
        = link_to "マイページ", "/users/#{current_user.id}", method: :get
      .footercontents__search
        %i.fa.fa-backward 
        = link_to "戻る", :back
