= render './share/header'
.moviezonedetail
  .moviezonedetailtitle
    = @movies.title
  .moviezonedetailcontents
    .moviezonedetailcontents__movie
      %iframe.hero-movie{allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen:  "", frameborder: "0", src: "https://www.youtube.com/embed/#{@movies.youtube_url}", size:"100x100"}
  .moviezonedetailnote
    = @movies.note
= render './share/footer'